<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>onlineJobSearch</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>com.zilker.onlinejobsearch.servlet.RegisterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterAdminServlet</servlet-name>
		<servlet-class>com.zilker.onlinejobsearch.servlet.RegisterAdminServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>RegisterAdminServlet</servlet-name>
		<url-pattern>/RegisterAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.zilker.onlinejobsearch.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ViewByJob</servlet-name>
		<servlet-class>com.zilker.onlinejobsearch.servlet.ViewByJob</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ViewByJob</servlet-name>
		<url-pattern>/ViewByJob</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddNewCompany</servlet-name>
		<servlet-class>com.zilker.onlinejobsearch.servlet.AddNewCompany</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddNewCompany</servlet-name>
		<url-pattern>/AddNewCompany</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PostJobServlet</servlet-name>
		<servlet-class>com.zilker.onlinejobsearch.servlet.PostJobServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PostJobServlet</servlet-name>
		<url-pattern>/PostJobServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddNewJobDesignationServlet</servlet-name>
		<servlet-class>com.zilker.onlinejobsearch.servlet.AddNewJobDesignationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AddNewJobDesignationServlet</servlet-name>
		<url-pattern>/AddNewJobDesignationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FindCompanyServlet</servlet-name>
		<servlet-class>com.zilker.onlinejobsearch.servlet.FindCompanyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FindCompanyServlet</servlet-name>
		<url-pattern>/FindCompanyServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReviewServlet</servlet-name>
		<servlet-class>com.zilker.onlinejobsearch.servlet.ReviewServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ReviewServlet</servlet-name>
		<url-pattern>/ReviewServlet</url-pattern>
	</servlet-mapping>
</element>


