@charset "UTF-8";
.container__customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top:50px;
  }
  
  .container__customers td, .container__customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .container__customers tr:nth-child(even){background-color: #f2f2f2;}
  
  .container__customers tr:hover {background-color: #ddd;}
  
  .container__customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #212121;
    color: white;
  }
  .container__title {
  color: white;
  text-align: center;
  background-color:#212121;
  padding:2px;
  margin-top:10px;
}
      
  @media (max-width:319px) {
.container__customers{
    width: 100%;
    margin: 0;
  }
 
} 

@media (min-width:320px) and (max-width:1025px) {
.container__customers{
    width: 100%;
    margin: 0;
  }
  
  
  
    }
 